/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

/* Style the label to display next to the inputs */
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

/* Style the submit button */
input[type=submit] {
    background-color: #99FF33;
    color: #000000;
    padding: 12px 20px;
    border: groove;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin-top: 6pt;
}

/* Style the container */
.conf-container {
    border-radius: 5px;
    background-color: #CCCCFF;
    padding: 6px;
    width: 150pt;
}

/* Floating column for labels: 25% width */
.conf-col-25 {
    float: left;
    width: 25%;
}

/* Floating column for inputs: 75% width */
.conf-col-75 {
    float: left;
    width: 75%;
}
/* Floating column for inputs: 75% width */
.conf-col-50 {
    float: left;
    width: 50%;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

.conf-center-button {
    text-align: center;
    margin: 6pt;
}
.conf-team {
    margin-top: 6pt;
}
.conf-dropdown {

}

.score-limit-box {
    margin-top: 10pt;
}

.score-limit-form {
    width: 80%;
    margin-top: 6pt;
}

.conf-button {
    background-color: #99FF33;
    color: #000000;
    padding: 12px 20px;
    border: groove;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}