.gameover-card {
    text-align: center;
}
.gameover-reload {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3pt;
    background-color: #99FF33;
    color: #000000;
    padding: 12px 20px;
    border: groove;
    border-radius: 4px;
    cursor: pointer;
}