body {
  font: 14px "Century Gothic", Futura, sans-serif;
  background: #F7FFD4;
  margin: 0;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}


.target {
  background: #ECC1E9;
  border: 1px solid #999;
  float: left;
  font-size: 26pt;
  font-weight: bold;
  line-height: 75pt;
  height: 75pt;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 250pt;
}

.banned {
  background: #A4F2FD;
  border: 1px solid #999;
  float: left;
  font-size: 26pt;
  font-weight: bold;
  line-height: 45pt;
  height: 45pt;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 250pt;
}

.pass {
  background: #FFA000;
  border: 1px solid #999;
  float: left;
  font-size: 14pt;
  font-weight: bold;
  line-height: 30pt;
  height: 30pt;
  margin-top: 5pt;
  padding: -0.5em;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 70pt;
  cursor: pointer;
}

.correct {
  background: #4BE158;
  border: 1px solid #999;
  float: left;
  font-size: 14pt;
  font-weight: bold;
  line-height: 30pt;
  height: 30pt;
  margin-top: 5pt;
  margin-left: 20pt;
  padding: -0.5em;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 70pt;
  cursor: pointer;
}

.false {
  background: #E51111;
  border: 1px solid #999;
  float: left;
  font-size: 14pt;
  font-weight: bold;
  line-height: 30pt;
  height: 30pt;
  margin-top: 5pt;
  margin-left: 20pt;
  padding: -0.5em;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 70pt;
  cursor: pointer;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.game-board {
  margin: 0 auto;
}

.game-info {
  border-color: #000000;
  background: #FFFA64;
  margin-bottom: 5pt;
  border-style: double;
  text-align: left;
}
.status {
  margin-top: 6pt;
  margin-bottom: 6pt;
  margin-left: 5pt;
}

.video-chat {
  margin-left: 15pt;
  background: #cccccc;
  padding: 6pt;
  text-align: center;
}
.video-join {
}
.video-close {
  margin-top: 6pt;
}

.ready-prompt {
  border-style: solid;
  margin-top: 5pt;
  background: #CCCCFF;
  height: auto;
}
.ready-button {
  background: #99FF33;
  border: 1px solid #999;
  font-size: 14pt;
  font-weight: bold;
  line-height: 30pt;
  height: 30pt;
  margin-top: 5pt;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5pt;
  padding: -0.5em;
  text-align: center;
  display: block;
  vertical-align: middle;
  width: 70pt;
  cursor: pointer;
}
.ready-label {
  margin-top: 5pt;
  margin-left: 5pt;
  color: #000000;
  font-size: 14pt;
}

.game-row {
  display: inline-flex;
}

.banner {
  height: 75pt;
  margin-bottom: 10pt;
  background: #7ED957;
  display: inline-flex;
  width: 100%;
}

.banner-typo {
  color: #ffffff;
  font-size: 50pt;
  margin-bottom: auto;
  margin-top: auto;
}